body {
  min-height: 100vh;
  background-image: url(../images/bg/hi/image-1.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition: opacity 500ms ease-out;
    background-color: color(trans-black);
  }
  &.loaded {
    &:before { animation: bg-flicker 100ms linear infinite; }
  }
}

@keyframes bg-flicker {
  from { opacity: 0; }
  to   { opacity: 0.1; }
}

#background {

  // needs fixing. color difference in images
  filter: grayscale(100%);

  // ghost
  opacity: 0.7;

  // equiv cover: center
  display: block;
  position: absolute;
  width: auto; height: auto;
  min-width: 100%; min-height: 100vh;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}