$indicator-w: 12px;
#indicator-container {
  position: absolute;
  top: 5%;
  right: 2.5%;
  width: $indicator-w;
  bottom: 5%;
  opacity: 0;
  transition: opacity 200ms linear;
  box-sizing: border-box;
  z-index: 10;

  .loaded & { opacity: 0.5; &:hover { opacity: 1; } }

  .static & {
    opacity: 0.7;
  }

  #indicator {
    position: absolute;
    // height: 2rem;
    // transform: translateY(50%);
    z-index: 1;
    top: 0;
    width: 2px;
    right: calc(50% - 1px); left: calc(50% - 1px);
    background-color: color(trans-white);
  }

  @mixin indicator-dash() {
    width: $indicator-w; height: $indicator-w;
    margin-top: $indicator-w / -2;
    border: 1px solid color(semi-trans-white);
    background: 1px solid color(trans-white);
    box-sizing: border-box;
    position: absolute;
    // border-radius: 50%;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      background: white;
      top: 50%; left: 50%;
      margin-left: -3px;
      margin-top: -3px;
      transform: scale(0.05);
      transition: transform 200ms cubic-bezier(0,-0.5, 1, 1);
    }
    @content;
  }

  > span {
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    @include indicator-dash() { bottom: 0; }
    transition: background 60ms linear;
    &:hover {
      transform-origin: 50% 50%;
      transform: scale(1.4);
    }
    &:hover, &.active {
      // background: white;
      &::after {
        transform: scale(1);
        transition: transform 200ms cubic-bezier(0, 0, 0.6, 1.6);
      }
    }
  }
}


@media (min-width: $s-md) {
  right: 5vh;
}

.loaded #scroll-down,
.static #scroll-down {
  position: fixed;
  color: white;
  z-index: 10;
  bottom: 1rem;
  left: 50%;
  width: 50px;
  margin-left: -25px;
  color: white;
  font-size: 3rem;
  animation: pulse-down 2s ease-in-out infinite;
  svg {
    display: block;
    width: 100%;
  }
  &[active="false"] { display: none; }
}

@media (min-width: $s-md) {
  .loaded #scroll-down,
  .static #scroll-down {
    width: 90px;
    margin-left: -45px;
  }
}

@keyframes pulse-down {
  0%, 100% { transform: translateY(0); }
  33.33% { transform: translateY(20%); }
  66.66% { transform: translateY(-5%); }
}