// behavior once page is loaded
// .loaded #prism-menu,
// .static #prism-menu {
//   opacity: 1;
// }

#prism-menu {
  z-index: 10;
  position: absolute;
  top: 1rem; left: 1rem;
  width: auto;
  height: 30px;
  // opacity: 0;
  transition: opacity 200ms linear;
  transform-style: preserve-3d;

  color: white;
  cursor: pointer;

  .prism-menu-list {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: -350px;
    width: 350px;
    display: block;
    pointer-events: none;
    opacity: 0;
    font-size: 0.7rem;
    color: color(semi-trans-white);
    transition: opacity 350ms linear,
      left 800ms cubic-bezier(0.4,-0.37, 0.58, 1);

    a {
      padding-right: 0.25rem;
      animation: display-none 350ms linear forwards;
      & ~ a { padding-left: 0.25rem; }
    }
  }

  &.open .prism-menu-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    left: 46px;
    transition: opacity 350ms linear,
      left 800ms cubic-bezier(0, 1.26, 0.58, 1);
  }

  .prism {
    animation: prism-out 500ms ease-in-out forwards;
  }
  &.open .prism {
    animation: prism-in 500ms ease-in-out forwards;
  }


  .prism-container {
    background: color(trans-white);
    border: 1px solid color(trans-white);
    left: 50%;
    top: 50%;
    position: absolute;
    height: 30px; width: 30px;
    margin-top: -15px;
  }

  .prism-container > .prism {
    @include prism(15px, color(trans-white));
    margin-top: (15px / -2);
    margin-left: (15px / -2);
    position: absolute;
    top: 50%; left: 50%;
  }

  .prism { transition: opacity 350ms ease-in-out; }

  .prism-container > .prism { opacity: 0.3; }
  .prism-container:hover .prism { opacity: 0.7; }
  &.open .prism-container > .prism { opacity: 0.7; }
  &.open .prism-container:hover > .prism { opacity: 0.3; }

  #progress-spinner-prism {
    appearance: none;
    border: none;
    background: transparent;
    visibility: none;
    outline: none;
  }
}


@media (min-width: $s-md) {
  #prism-menu {
    height: 3.2rem;
    top: auto;
    bottom: 2rem; left: 2rem;

    .prism-menu-list {
      left: -480px;
      width: 480px;
      top: 50%;
      font-size: 1.1rem;
      a {
        padding-right: 0.5rem;
        & ~ a { padding-left: 0.5rem; }
      }
    }
    &.open .prism-menu-list {
      left: 76px;
    }

    .prism-container {
      height: 50px; width: 50px;
      transform: translateZ(0);
      margin-top: -25px;
    }

    .prism-container > .prism {
      @include prism(25px, color(trans-white));
      margin-top: (25px / -2);
      margin-left: (25px / -2);
    }
  }
}



@keyframes prism-out {
  from { transform: rotateX(-135deg) rotateY(-135deg) translateZ(1px); }
  to   { transform: rotateX(0deg) rotateY(0deg) translateZ(1px); }
}

@keyframes prism-in {
  from { transform: rotateX(0deg) rotateY(0deg) translateZ(1px); }
  to   { transform: rotateX(-135deg) rotateY(-135deg) translateZ(1px); }
}
