section {
  position: absolute;
  opacity: 0;
  .loaded & { opacity: 1; }
  top: 10vh; left: 50%; right: 10%;
  color: color(semi-trans-white);
  &.active {
    z-index: 1;
    > div {
      animation: break-in 200ms ease-in 200ms forwards;
    }
  }

  > div {
    display: block;
    opacity: 0;
    animation: break-out 200ms ease-in forwards;
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

@for $i from 1 through 10 {
  section > div:nth-child(#{$i}) { padding-left: ($i - 1) * 0.5em; }
  section.active > div:nth-child(#{$i}) { animation-delay: 500ms * ($i - 1); }
}

section > div.hard {
  @for $i from 1 through 10 {
    &:nth-of-type(#{$i}) { padding-left: ($i - 1) * 0.5em; }
  }
}

section > div.reset {
  padding-left: 0;
}
section > div.space {
  margin-top: 1em;
}

section > div.center {
  text-align: center;
}

@keyframes break-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes break-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}


@media (min-width: 1200px) {
  section > div { font-size: 1.6rem; }
}