$colors: (
  trans-white: rgba(white,0.2),
  semi-trans-white: rgba(white,0.7),
  trans-black: rgba(black,0.2),
  semi-trans-black: rgba(black,0.7),
  primary: #FFBB00,
  trans-primary: rgba(#FFBB00,0.2),
  semi-trans-primary: rgba(#FFBB00,0.7)
);


@function color($which) {
  @return map-get($colors, $which);
}

$s-sm: 340px;
$s-md: 770px;
$s-lg: 1024px;
$s-xl: 1200px;